*{
    background-color: aquamarine;
}
.body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 2000px; /* Añadido para simular contenido de página */
}
.navbar {
  overflow: hidden;
  transition: top 0.3s;
}

.navbar a {
  float: left;
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: mediumblue;
  color: black;
}
h1{
    background-color: aquamarine;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.s1{
    background-color: aqua;
}
.s2{
    background-color: dodgerblue;
}
.s3{
    background-color: deepskyblue;
}
.s4{
    background-color: lightskyblue;
}
.s5{
    background-color: royalblue;
}
.s5{
    background-color: steelblue;
}
.s5{
    background-color: cornflowerblue;
}
.s6{
    background-color: powderblue;
}
.s6{
    background-color: skyblue;
}